Src/Ruby-ACL/lib/src_files/ResourceObjects.dtd

<!ELEMENT ResourceObjects (ResourceObject*)>
    <!ELEMENT ResourceObject (type, address, owner)>
        <!ELEMENT type (#PCDATA)>
        <!ELEMENT address (#PCDATA)>
        <!ELEMENT owner EMPTY>
            <!ATTLIST owner idref IDREF #REQUIRED>
        <!ATTLIST ResourceObject id ID #REQUIRED>