Src/Ruby-ACL/lib/Principals.dtd

<!ELEMENT Principals (Groups, Individuals)>
    <!ELEMENT Groups (group+)>
    <!ELEMENT group (membership)>
        <!ATTLIST group id ID #REQUIRED>
    <!ELEMENT membership (mgroup*)>
    <!ELEMENT mgroup EMPTY>
        <!ATTLIST mgroup idref IDREF #REQUIRED>

    <!ELEMENT Individuals (principal*)>
    <!ELEMENT principal (membership)>
        <!ATTLIST principal id ID #IMPLIED>
        