Documents/CD/src/Ruby-ACL/src_files/Principals.dtd

<!ELEMENT Principals (Groups, Individuals)>
    <!ELEMENT Groups (Group+)>
    <!ELEMENT Group (membership)>
        <!ATTLIST Group id ID #REQUIRED>
    <!ELEMENT membership (mgroup*)>
    <!ELEMENT mgroup EMPTY>
        <!ATTLIST mgroup idref IDREF #REQUIRED>

    <!ELEMENT Individuals (Individual*)>
    <!ELEMENT Individual (membership)>
        <!ATTLIST Individual id ID #IMPLIED>
        